<nav>
  {% if user %}
  <a href="{{ site.url }}/raidschema">Raid</a>
  {% else %}
  <a href="{{ site.url }}/om">Om</a>
  {% endif %}


  <a href="{{ site.url }}/roster">Roster</a>

  {% if user %}
  <a href="{{ site.url }}/mitt-konto">Profil</a>
  <a href="{{ site.url }}/wp-login.php?action=logout" class="trigger-logout">Logga ut</a>
  {% else %}
  <a href="{{ site.url }}/login" class="trigger-login">Logga in</a>
  {% endif %}

  <a class="NAV__separetad" href="https://discord.gg/3jWv46R" target="_blank">Discord</a>

</nav>
