{% extends 'base.twig' %}

{% block main %}
   <section class="Page__wrapper">
    <h1>{{ author.nick }} är så horde</h1>

    <article class="ContentSidebar">
    {% if author.description %}
      <p>{{ author.description }}</p>
    {% else %}
      <p>{{ author.nick }} har ännu inte skrivit något om sig själv, men vi kan garantera att hen är stenhorde.</p>
    {% endif %}
    </article>

    <aside class="ContentSidebar__sidebar">
      <dl>
        <dt>Ras:</dt>
        <dd>{{ author.race }}</dd>
        <dt>Klass:</dt>
        <dd>{{ author.class }}</dd>
      </dl>
    </aside>

  </section>
{% endblock %}
