{% extends 'base.twig' %}

{% block main %}
  <section class="Page__wrapper">
    <h1>Du är så horde {{ current_user.nick }}</h1>

    <form class="Form ajax-update-user" action="#" class="ajax-update-user" method="post">
      <input type="hidden" name="action" value="update_user">
      <input type="hidden" name="_wpnonce" value="{{ fn('wp_create_nonce', 'update_user_token') }}">
      <input type="hidden" name="user_id" value="{{ current_user.ID }}">

      <input name="user_nick" type="text" placeholder="{{ current_user.nick ? : 'Ditt nick' }}">
      <input name="user_email" type="email" placeholder="{{ current_user.user_email ? : 'Din email' }}">
      <textarea rows="5" name="user_desc" >{{ current_user.description ? : 'Vem är du?' }}</textarea>

      <div class="Form__inputwrapper">
        <label for="user_class">Vad är du för klass?</label>
        <select name="user_class">
          <option value="">--Välj din klass--</option>
          <option {{ current_user.class == 'Druid' ? 'selected' : '' }} value="Druid">Druid</option>
          <option {{ current_user.class == 'Hunter' ? 'selected' : '' }} value="Hunter">Hunter</option>
          <option {{ current_user.class == 'Mage' ? 'selected' : '' }} value="Mage">Mage</option>
          <option {{ current_user.class == 'Rogue' ? 'selected' : '' }} value="Rogue">Rogue</option>
          <option {{ current_user.class == 'Shaman' ? 'selected' : '' }} value="Shaman">Shaman</option>
          <option {{ current_user.class == 'Priest' ? 'selected' : '' }} value="Priest">Priest</option>
          <option {{ current_user.class == 'Warlock' ? 'selected' : '' }} value="Warlock">Warlock</option>
          <option {{ current_user.class == 'Warrior' ? 'selected' : '' }} value="Warrior">Warrior</option>
        </select>
      </div>

      <div class="Form__inputwrapper">
        <label for="user_race">Vad är du för ras?</label>
        <select name="user_race">
          <option value="">--Välj din ras--</option>
          <option {{ current_user.race == 'Orc' ? 'selected' : '' }} value="Orc">Orc</option>
          <option {{ current_user.race == 'Troll' ? 'selected' : '' }} value="Troll">Troll</option>
          <option {{ current_user.race == 'Undead' ? 'selected' : '' }} value="Undead">Undead</option>
          <option {{ current_user.race == 'Tauren' ? 'selected' : '' }} value="Tauren">Tauren</option>
        </select>
      </div>

      <button type="submit" class="Button">Uppdatera</button>

      <a href="{{ site.url }}/wp-login.php?action=lostpassword" class="Form__link" href="">Byt lösenord</a>
    </form>

  </section>
{% endblock %}
